



.hide-image{
    display: none;
}

.image-to-show {
    /* display: block; */
    width: 400px;
    height: 400px;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
